.form__wrapper {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
}

form {
    padding: 35px;
   
    display: flex;
    border-radius: 10px;
    align-items: center;
    background: #f2f2f2;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 10px 1px rgba(8, 0, 0, 0.416);
}