
ul{
display: flex;
padding-top: 30px;
list-style: none;
justify-content: space-between;
column-gap: 100px;
}
li{
    justify-content: space-between;
}


ul li a{
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-weight: 800;
    font-size: 25px;
}
.create__li{
    justify-content: center;
}