footer { 
    height: 600px; 
} 
 
.footer__section { 
    display: flex; 
    justify-content: center; 
    padding-top: 150px; 
    margin-top: 20px;  
  border-bottom: 2px solid #ccc;  
  padding-bottom: 30px;  
}