.mySwiper{ 
    height: 800px; 
    width: 100%; 
    padding-top: 100px; 
    background-color: rgb(228, 54, 54); 
     
    } 
     
     
    .text-wrapper{ 
        text-align: center; 
        padding-top: 80px; 
        background-color: rgb(228, 54, 54); 
        font-size: 100px; 
        color: white; 
    } 
     
    .swiper-slide{ 
        display: flex; 
        justify-content: center; 
    }